@charset "UTF-8";

*{margin: 0; padding: 0;}
a{text-decoration: none;
color: #fff;}
li{list-style: none;}
.container{width: 1500px; margin: 0 auto;}


body{
    width: 100%;height: 100vh;
    background: rgba(0,0,0,0.8) url(img/Cover_anni40-50_1920x800.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: hue;
}
.wrap{width: 100%; height: 100vh;}

/* header */
header{
    width: 100%; height: 100px;
    padding-top: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
header .container{display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo{width: 150px;}
header .container .logo a{}
header .container .logo a img{width: 100%;}

.menu_wrap{}
.menu_wrap ul{display: flex; width: 800px;
    justify-content: space-between;}
.menu_wrap ul li{}
.menu_wrap ul li a{}

.search i{color: #38a385; font-size: 18px;}

.main_01{margin-top: 5%;}
.main_01 .slider{}
.main_01 .slider .slick-slide{display: flex;
    overflow: hidden;
}

.left_area{width: 50%; position: relative;}
.left_area .vespa_img{width: 120%;
    padding-top: 168px;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .left_area .vespa_img{
    animation: fadeInR 1s 0.5s both;
}

.left_area .vespa_img img{width: 100%;}
.left_area .vespa_tit{position: absolute;
    left: 0;top: 90px;
    z-index: -1;
}
.left_area .vespa_tit h2{font-size: 135px;
    color: rgba(255,255,255,0.8);
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .left_area .vespa_tit h2{
    animation: fadeInL 0.5s 0.7s both;
}

.left_area .vespa_tit p{font-size: 19px;
    color: #fff;
    letter-spacing: 19px;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .left_area .vespa_tit p{
    animation: fadeInL 0.5s 0.9s both;
}

.right_area{width: 50%;
    position: relative;
}
.right_area .detailed_img{display: flex;
    position: absolute; left: 0%; top: 128px;
    justify-content: center;
}
.right_area .detailed_img div{width: 20%;
    border-radius: 50%; overflow: hidden;
    margin-right: 8%;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .right_area .detailed_img div{
    animation: fadeInT 1s 1.5s both;
    animation-timing-function: ease;
}
.main_01 .slider .slick-active .right_area .detailed_img .d_img02{
    animation: fadeInT 1s 1.7s both;
}
.main_01 .slider .slick-active .right_area .detailed_img .d_img03{
    animation: fadeInT 1s 1.9s both;
}

.right_area .detailed_img img{width: 100%; }

.right_area .middle_taxt{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 73%;
}
.right_area .middle_taxt p{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .right_area .middle_taxt p{
    animation: fadeInR 0.8s 2.0s both;
}

.right_area .middle_taxt .colormode{background-color: rgba(255,255,255,0.9);
    border-radius: 30px;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .right_area .middle_taxt .colormode{
    animation: fadeInR 0.8s 2.2s both;
    animation-timing-function: ease;
}

.right_area .middle_taxt .colormode .color{
    padding: 10px 35px;
}
.right_area .middle_taxt .colormode .color i{
    color: #b7babc;
    font-size: 35px;
    margin-right: 20px;
}
.right_area .middle_taxt .colormode .color span{
    font-size: 16px;
    color: black;
    vertical-align: 6px;
}

.main_01 .slider .slick-active .right_area .middle_taxt .colormode .c01{
    animation: fadeInR 0.7s 2.3s both;
}
.main_01 .slider .slick-active .right_area .middle_taxt .colormode .c02{
    animation: fadeInR 0.7s 2.4s both;
}


.right_area .bottom_area{display: flex;
    position: absolute; top: 60%; left: 10%;
}
.right_area .bottom_area .custom_btn{
    border: 2px solid #fff;
    margin-right: 20px;
    position: relative;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .right_area .bottom_area .custom_btn{
    animation: fadeInL 0.7s 2.7s both;
}

.right_area .bottom_area .custom_btn a{
    display: block;
    padding: 10px 50px 10px 30px;
}
.right_area .bottom_area .custom_btn i{
    position: absolute; right: 22px; top: 8px;
    font-size: 20px;
    color: #fff;
}

.right_area .bottom_area .download_btn{
    background-color: #38a385;
    margin-right: 20px;
}
/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .right_area .bottom_area .download_btn{
    animation: fadeInR 0.7s 2.7s both;
}

.right_area .bottom_area .download_btn a{
    display: block;
    padding: 10px 20px;
    font-weight: 600;
}

.right_area .bottom_area .price {}

/* .main_01 .slider .slick-active */
.main_01 .slider .slick-active .right_area .bottom_area .price{
    animation: fadeInT 0.7s 3.5s both;
}

.right_area .bottom_area .price span{
    color: #fff;
    font-size: 22px;
    line-height: 42px;
}

/* 버튼 */
.main_01 .slider .slick-arrow{
    position: absolute;
    top: 50%; /* left: 50%; */
    transform: translate(-50%, -50%);
    visibility: hidden;
    font-size: 0;
}
.main_01 .slider .slick-prev{left: -5%;}
.main_01 .slider .slick-prev:after{
    content: "\f053";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    visibility: visible;
    color: #38a385;
    font-size: 60px;
}
.main_01 .slider .slick-next{/* left:auto;  */right: -5%;}
.main_01 .slider .slick-next:after{
    content: "\f054";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    visibility: visible;
    color: #38a385;
    font-size: 60px;
}


/* .main_01 .slider .slick-active */
@keyframes fadeInR{
    0%{transform: translateX(150%); opacity: 0; }
    100%{transform: translateX(0%); opacity: 1; }
}

@keyframes fadeInL{
    0%{transform: translateX(-150%); opacity: 0; }
    100%{transform: translateX(0%); opacity: 1; }
}

@keyframes fadeInT{
    0%{transform: translateY(-150%); opacity: 0; }
    100%{transform: translateY(0%); opacity: 1; }
}
